<% include partials/head %>
<% include nav %>

    <div id="map" style="width: 700px; height: 500px;"></div>

    <h3>Seleccione su ubicacion</h3>
    <form action="/ecoApp/add" method="post">
      <label for="idUser">Ingrese ID User</label>
      <input type="text" name="idUser"><br>
      <label for="lat">Latitud</label>
      <input id="lat" type="text" name="lat"><br>
      <label for="lng">Logitud</label>
      <input id="lng" type="text" name="lng"><br>
      <label for="adv"></label>
      <textarea name="adv" rows="1" cols="80"></textarea><br>

      <button submit>Listo Recogan Mi Reciclaje </button>
    </form>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr2-lyq7o5vDRj9JyEOTELG_lDwvEwcuA">
    </script>



    <script>
      const fn_mal = () => {
        console.log("algo no funciona en la geolocalizacion");
      }

      const fn_ok = (rta) => {
        let lat = rta.coords.latitude
        let lon = rta.coords.longitude
        console.log(lat, lon);

        initMap(lat,lon);
      }

      navigator.geolocation.getCurrentPosition(fn_ok,fn_mal)

      let initMap = (latitud, longitud) => {
        let posicion = {lat: latitud, lng: longitud}
        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: posicion
        })

      var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<img src="images_temp.jpeg" style="width: 50px; height: 50px;">'+
      '<h1 id="firstHeading" class="firstHeading">tu mismo</h1>'+
      '<div id="bodyContent">'+
      '<br/>'+
      'nombre:'+
      '<br/>'+
      'apellido:'+
      '<br/>'+
      'dni:'+
      '<br/>'+
      'estrellas:'+
      '<p>'+
      'oficio <a href="#">'+
      'contactar'+
      '</p>'+
      '</div>'+
      '</div>';

      let infowindow = new google.maps.InfoWindow({
        content: contentString
      })

      let marker = new google.maps.Marker({
        position: posicion,
        map: map
      })

      marker.addListener('click', () => {
        infowindow.open(map, marker)
      })

      document.getElementById('lat').value = posicion.lat
      document.getElementById('lng').value = posicion.lng

      console.log(idUser.value);
      console.log(lat.value);
      console.log(lng.value)
      console.log(abv.value);
    }

    </script>
    
<% include partials/footer%>
