<% include partials/head %>
<% include nav %>
    <div class="padre">

      <h2>Seleccione su Ubicación</h2>
      <p class="hijo_uno">Seleccione su ubicación, y nosotros llegaremos entre las 7 y 8 de la noche para recoger el Reciclaje . GRACIAS POR CONTRIBUIR CON EL AMBIENTE</p>

      <div class="hijo_uno"id="map" style="width: 700px; height: 500px;">
      </div>
    </div>

    <div class="padre">
      <h3 class="hijo_uno">Ingrese los datos faltantes</h3>
      <form class="hijo_uno" action="/ecoApp/add" method="post">
        <label for="idUser">Ingrese ID User :</label> <br>
        <input id="idUser" type="text" name="idUser"><br>
        <label for="lat">Latitud :</label><br>
        <input id="lat" type="text" name="lat"><br>
        <label for="lng">Logitud :</label><br>
        <input id="lng" type="text" name="lng"><br>
        <label for="adv">Ingrese si tiene alguna advertencia :</label><br>
        <textarea id= "adv"name="adv" rows="1" cols="80"></textarea><br>

        <button type="submit"> Listo Recogan Mi Reciclaje </button>
      </form>
  </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr2-lyq7o5vDRj9JyEOTELG_lDwvEwcuA">
    </script>

    <script>
      const fn_mal = () => {
        console.log("algo no funciona en la geolocalizacion");
      }

      const fn_ok = (rta) => {
        let lat = rta.coords.latitude
        let lon = rta.coords.longitude
        console.log(lat, lon);

        initMap(lat,lon);
      }

      navigator.geolocation.getCurrentPosition(fn_ok,fn_mal)

      let initMap = (latitud, longitud) => {
        let posicion = {lat: latitud, lng: longitud}
        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: posicion
        })

      let marker = new google.maps.Marker({
        position: posicion,
        map: map,
        title: 'Mi Ubicacion actual'
      })

      google.maps.event.addListener(map, 'click', (event) => {
        marker.setMap(null) ;// elima lod markers anteriores
        posicion ={
          lat:event.latLng.lat(),
          lng:event.latLng.lng()
        }

        marker = new google.maps.Marker({
          position: posicion,
          map: map,
          title: "Mi ubicación Cambiada"
        })
        console.log(posicion);
      })
      //cuando se inicializa el mapa
      document.getElementById('lat').value = posicion.lat
      document.getElementById('lng').value = posicion.lng

      //actualiza cada ves que el marcador se mueve
      document.getElementById('map').addEventListener('click', () => {
        document.getElementById('lat').value = posicion.lat
        document.getElementById('lng').value = posicion.lng

        console.log(idUser.value);
        console.log(lat.value);
        console.log(lng.value)
        console.log(abv.value);
      })
    }

    </script>

<% include partials/footer%>
