<% include partials/head %>
<% include nav %>

      <h2>Gracias Por Colaborar con el Ambiente</h2>
      <p></p>
      <a href="./">Regresar al inicio</a>
      <p></p>
<% include partials/footer %>
