<% include partials/head %>
<% include nav %>

      <h2>Gracias Por Colaborar con el Ambiente</h2>
      <p></p>
      <button> <a href="./">Regresar al inicio</a> </button>
      <p></p>
<% include partials/footer %>
