<% include partials/head %>
<% include nav %>

      <!-- <h1>Aqui va la información de la pagina web</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      <p></p>
      <section  id="empresa" style="width: 800px; margin-left: auto; margin-right: auto">
        <div class="container">
          <div class="row">
            <article class="col col-50 col-centrado-vertical">
              <h2>Nuestra EcoEmpresa</h2>
              <p>PRIMERA EcoEmpresa EN EL PAÍS EN LOGRAR QUE SUS CLIENTES GENEREN CERO BASURA GRACIAS A SU EQUIPO DE PROFESIONALES QUE COMPARTEN LOS MISMOS VALORES:.</p>
              <ul>
                <li>Nos gusta lo que hacemos</li>
                <li>Seriedad en la disposición de los residuos de nuestros clientes</li>
                <li>Nos adaptamos a las características de nuestros clientes y a las nuevas tecnologías</li><li>Somos una empresa de servicio al cliente</li><li>Queremos dejar un mejor planeta a las futuras generaciones</li>
              </ul>
            </article>
            <figure class="col col-50 fig-empresa">
              <img src="images/empresa.jpg" alt="Nuestro equipo de trabajo" class="img-responsive">
              <figcaption>
                <h3>Nuestro equipo</h3>
                <p>INSERTAR DETALLE DE NUESTRO EQUIPO...</p>
              </figcaption>
            </figure>
          </div><!-- row -->
        </div><!-- container -->
      </section><!-- empresa -->
<% include partials/footer%>
