<!-- <h1>aqui van las vistas</h1>
<nav>
  <a href="./">Inicio<a>
  <a href="./information">Information</a>
  <a href="./ecoApp">EcoApp</a>
  <a href="./respuestas">Ubicaciones</a>
</nav> -->

<nav id="top-header">
  <div class="container">
    <div class="row col-espacio">
    <ul class="menu menu-top">
      <li><a href="./">Inicio</a></li>
      <!--<li><a href="#">Inversiones</a></li>-->
      <li><a href="./information">Contactenos</a></li>
      <li><a href="./ecoApp">Unete al cambio</a></li>
      <li><a href="./respuestas">Ubicaiones</a></li>

    </ul>
    <nav>
    <ul class="menu menu-top">
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
    </nav>
    </div><!-- row -->
  </div><!-- container -->
</nav><!-- top-header -->
