<section id="contactenos" class="padded">
      <div class="col">
        <ul class="info-contacto">
          <li><i class="fas fa-map-marker-alt"></i> Av. La Marina 3213, San Miguel, Lima, Perú</li>
          <li><i class="fas fa-envelope"></i> info@ecoweb.pe</li>
          <li><i class="fas fa-phone"></i> (511)-1234567, (511)-1234568</li>
        </ul>
      </div><!-- col -->
  </section><!-- contactenos -->
</body>
</html>
