<!doctype html><!-- Tipo de documento -->
<html><!-- inicio de la página -->
<head><!-- encabezado -->
	<meta charset="UTF-8"><!-- para que soporte tildes -->
	<title>ECOWEB | Saving our environment</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="shortcut icon" href="/static/imagenicon.png">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/mapstyle.css">
</head>
<body><!-- contenido -->
