@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700,900');
body{
	margin:0;/* Elimina el margen por defecto de body */
	font-family: Raleway, Arial, Tahoma, sans-serif;
	/* tipo de letra */

	font-size:14px;/* Tamaño de la fuente */
	color:#333333;	
}
p{
	margin-top:0;
	margin-bottom:20px;
	line-height: 22px;/* Interlineado */
}
img{
	display: block;/* Para que en las imágenes no se vea el borde inferior */
}
figure{
	margin:0;/* Elimina el margen por defecto de los objetos figure */
}

/* ENCABEZADOS ********************************************************/

h1,h2,h3,h4,h5,h6{
	margin:0;
	font-weight: normal;
}
h1{
	font-weight:900;/* Grosor o estilo de la fuente */
	font-size:48px;
	letter-spacing: -3px;/* Espacio entre letra y letra */
}
h2{
	font-weight: 100;
	font-size:48px;
	letter-spacing: -3px;
	margin-bottom:24px;/* Margen inferior */
	text-align: center;
	text-transform: lowercase;/* Para que esté en minúsculas */
	position: relative;
}
h2::after{
	content: " ";
	position: absolute;
	width: 60px;
	height: 2px;
	background-color: #ff0000;
	bottom: -10px;
	left: 50%;
	margin-left: -30px;
}
h3{
	font-weight:900;
	font-size:24px;
	letter-spacing: -2px;
	margin-bottom: 18px;
}


/* HIPERVINCULOS ********************************************************/
a{/* hipervinculo */
	color: #FF0000;
	text-decoration: none;/* Para que no esté subrayado el hipervinculo */
}
a:hover{/* hover es el estado al pasar el puntero del mouse */
	color: #C4B744;
}




#top-header{
	/*Asi se define una regla para un objeto por su id (#) */
	background-color: #333333;/* Color de fondo */
	color:#eeeeee;/* Color de texto */
}
#main-header{
	background-color: rgba(255,255,255,0.8);
	position: sticky;
	top:0;
	z-index: 1000;/* Controla el orden de profundidad
	de los objetos */
}
#mensaje{
	background-color: #dddddd;

}
#noticias{
	background-color: #cccccc;
	
}
.container{
	/* Para definir la regla para una clase se empieza 
	con punto (.) */
	max-width:1200px;/* ancho máximo */
	margin-left:auto;
	margin-right:auto;
	/* Con margin-left y margin-right auto, ambos margenes
	serán iguales y se verá centrado */
	padding:0 15px;/* Distancia del borde al contenido */
	/* px : Pixeles */
	/* Si son dos valores el primero es para arriba y abajo y el segundo es para izquierda y derecha */

}
.padded{
	padding-top: 90px;/* top superior */
	padding-bottom:60px;/* top inferior */
}
.row{
	display:flex;/* Por defecto distribuye el contenido
	uno al costado del otro */
	margin-left: -15px;
	margin-right: -15px;
	flex-wrap: wrap;/* Si los objetos que contiene sobrepasa el ancho que pasen a la siguiente linea */
}
.col{
	padding-left: 15px;
	padding-right: 15px;
	flex-basis:0;/* ancho inicial mínimo */
	flex-grow: 1;/* ancho máximo en relación a los 
	elementos que están a su mismo nivel */
	max-width: 100%;
	box-sizing: border-box;
}
.img-responsive{
	width:100%;	/*Que el ancho del objeto es igual al ancho de su contenedor*/
}
.col-50{
	flex-basis:50%;
	flex-grow:0;
}
#empresa{
	background-color: #333333;
	color: #ffffff;
}
#empresa a{
	color: #DFFD00;
}
#empresa a:hover{
	color: #37C3D4;
	text-decoration: underline;
}

.col-centrado-vertical{
    display: flex;
    flex-direction: column;/* Para que el display flex en lugar de ponerlo uno al costado del otro, lo ponga uno debajo dl otro */
	justify-content: center;/* Se centra vertical el contenido */
}
#aviso{
	background-image: url(../images/concierto.jpg);
	/* ../ para salir de la carpeta */
	background-size: cover;/* Para que siempre la iamgen cubra la pantalla dentro de su area */
	background-position: right center;/* alineamiento de la imagen */
	background-attachment: fixed;/* Para que la imagen quede fija respecto al navegador */
}

#aviso h2{/* El espacio indica dentro de */
	color: #ffffff;
	font-size: 60px;
	text-align: left;
}
.texto-importante{
	font-weight: 900;
	color: #D3EF36;
}

.col-espacio{
	justify-content: space-between;
}


/* MENU ********************************************************/
.menu{
	list-style: none;/* Para que desaparezcan las viñetas */
	margin: 0;
	padding: 0;
	display: flex;
}
.menu a{
	display: block;/* Para que el hipervinculo que por defecto es estilo en linea
	sea ahora estilo en bloque (para que no se salga de su contenedor)*/
	transition: .5s ease-in-out all;
}
.menu-top a{
	padding: 10px 15px;
	color: #cccccc;
	border-right: 1px #888888 solid;
	/* borde por el lado derecho indicando grosor en px, color y estilo */
}
.menu-top a:hover{
	background-color: #555555;
}
.menu-main a{
	color: #333333;
	padding: 30px 10px;
	border-bottom: solid 3px transparent;
	text-transform: uppercase;
}
.menu-main a:hover{
	color: #FF0000;
	border-bottom: solid 3px #ff0000;
}


/* FORMULARIO ********************************************************/
.form-empresa input,
.form-empresa textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 4px;
	border:none;
	border-bottom: solid 1px #dddddd;
	font:inherit;/* font cubre todas las propiedades que empiezan con font y al indicar inherit se estableceque el valor de la propiedad lo hereda del objeto padre */
	outline: none;/* Elimina el borde por defecto que tiene el objeto al recibir el foco */
	transition: .5s ease-in-out all;
}
.form-empresa input:focus,
.form-empresa textarea:focus{
	/* focus es el estado cuando el objeto contiene al cursor */
	border-bottom-color: #E7942B;
}
.form-empresa input[type=submit]{
	box-sizing: content-box;/* Para que padding incremente el ancho que en submit viene por defecto en border-box */
	border:none;
	background-color: #EB4B5F;
	color: #FFFFFF;
	cursor: pointer;/* Para que el cursor aparezca en forma de una mano */
	
}
.form-empresa input[type=submit]:hover{
	background-color: #1C89CD;
}
.info-contacto{
	list-style: none;
	font-size: 24px;
	font-weight: 100;
	padding: 32px;
	border:solid 1px #dddddd;
}
.info-contacto li{
	margin-bottom: 10px;
}
.info-contacto i{
	width: 28px;
	text-align: center;
	color: #cccccc;
}
#irArriba{
	color: #FFF;
    padding: 10px 11px;
    font-size: 12px;
	background: #ff214f;
	border-radius: 50%;/*  50% tiene la forma de un óvalo */
	position: fixed;/* Para que esté fijo el objeto con respecto al navegador */
	right: 30px;/* Distancia con respecto al borde derecho de la ventana */
	bottom: 30px;/* Distancia con respecto al borde inferior de la ventana */
}
#super-main{
	margin-top: -79px;
}
.col-foto{
	width: 16.66%;
	flex-basis: auto;
	overflow: hidden;/* Para que lo que se desborda se oculte */
}
.col-foto img{
	transition: .5s ease-in-out all;/* SE define en el estado inicial para que el cambio que se le aplique ocurra con una transición especificada en segundos, con una animación, all son todas las propiedades */
}
.col-foto img:hover{
	transform: scale(1.3,1.3) rotate(-15deg);/* cambiando el tamaño(escala)  */
}
.container-fluid{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fig-empresa{
	position: relative;
	padding-left: 0;
	padding-right: 0;
}
.fig-empresa figcaption{
	position: absolute;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.7);
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	padding: 30px;
	box-sizing: border-box;/* Para que padding no incremente ancho */
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
	opacity: 0;
	transition: .5s ease-in-out all;
	margin:40px;
}
.fig-empresa figcaption:hover{
	opacity: 1;
}
#productos{
	background-color: #eeeeee;
}
.col-66{
	flex-basis:66.66%;
	flex-grow:0;
}
.col-33{
	flex-basis:33.33%;
	flex-grow:0;
}
.tproductos{
	background-color: #ffffff;
	width: 100%;
	border-collapse: collapse;
	/* Elimina el espacio entre celdas */
}
.tproductos th{
	background-color: #000000;
	color: #ffffff;
	text-align: left;
}

.tproductos th,.tproductos td{
	padding: 8px;
}
.tproductos td{
	border: solid 1px #dddddd;
}
.tproductos tr th:first-child,
.tproductos tr td:first-child{
	text-align: center;
	width: 60px;
}
.tproductos tr th:last-child,
.tproductos tr td:last-child{
	text-align: right;
}
.tproductos tr th:nth-child(4),
.tproductos tr td:nth-child(4){
	text-align: center;
}
.tproductos tbody tr:nth-child(even){
/* even par y odd impar */
	background-color: #cccccc;
} 
.tproductos tbody tr{
	transition: .5s all ease-in-out;
}
.tproductos tbody tr:hover{
	background-color: #333333;
	color:#ffffff;	
}
.tproductos img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.tproductos tr th:nth-child(2),
.tproductos tr td:nth-child(2){
	padding: 2px 10px;
	width: 40px;
	text-align: center;
}
.productoOferta{
	position: relative;
	overflow: hidden;
} 
.productoOferta figcaption{
	position: absolute;
	background-color: #ff0000;
	color: #ffffff;

	top:40px;
	left:-110px;
	transform: rotate(-45deg);

	font-size: 24px;
	padding: 10px;
	width: 100%;
	text-align: center;
} 

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper#mapa {
	padding-bottom: 25%; 
}
#main-banner{
	position: relative;
}
#main-banner figcaption{
	position: absolute;
	background-color: rgba(255,255,255,0.9);
	bottom: -60px;
	width: 60%;
	left: 20%;
	padding: 30px;
	box-sizing: border-box;
	background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(230,230,230,1) 47%, rgba(200,200,200,1) 100%);
	box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);	
}

#logo{
	position: relative;
}
#logo a{
	position: absolute;
	display: inline-block;
	padding: 30px;
	background-color: #bbbbbb;
	border-radius: 0 0 10px 10px;
}
.boton{
	color: #777777;
	border:solid 2px #777777;
	padding: 5px 15px;
	border-radius: 30px
}
.boton:hover{
	background-color: #777777;
	color: #ffffff;
}